@import "tailwindcss";

html {
  background-color: #1e1e2e;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #cdd6f4;
}

.section-heading {
  @apply text-xl sm:text-2xl font-bold sm:text-left mb-6;
  color: #74c7ec;
}

.section-paragraph {
  @apply text-sm sm:text-base md:text-lg leading-relaxed mb-4;
}

.project-link {
  @apply text-lg font-semibold;
  color: #89b4fa;
}

.project-link:hover {
  color: #94e2d5;
}
