@import "tailwindcss";

html {
  background-color: #eff1f5;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #4c4f69;
}

.section-heading {
  @apply text-xl sm:text-2xl font-bold sm:text-left mb-6;
  color: #8839ef;
}

.section-paragraph {
  @apply text-sm sm:text-base md:text-lg leading-relaxed mb-4;
}

.project-link {
  @apply text-lg font-semibold;
  color: #1e66f5;
}

.project-link:hover {
  color: #179299;
}
